<div class="contenedor general">
    <div class="contenedor contenedores 1">
        <div class="contenedor pequeño 11">
            <h1>Sobre mi</h1>
            <p>Estudiante de 2ºDAM a punto de acabar el ciclo, <br>
                con espectativas de trabajar nada mas salir. <br><br>
                Me gusta la música, actúo en desfiles y cantinelas <br>
                varias, como los premios princesa
            </p>
        </div>
        <div class="contenedor pequeño 12">
            <h1>Estudios previos</h1>
            <ul>
                <li>Bachiller de ciencias</li>
                <li>Curso de iniciacion en sistemas informáticos y redes</li>
                <li>Comienzo en 1º de carrera en ingenieria de telecomunicaciones</li>
                <li>Este ciclo formativo de grado superior cuando lo acabe</li>
            </ul>
        </div>
    </div>
    <div class="contenedor contenedores 2">
        <div class="contenedor pequeño 21">
            <h1>Experiencia laboral</h1>
            <ul>
                <li>2 años y medio llevando negocio propio (cafetería)</li>
                <li>1 año de cocinero en el Mariñan C/Campomanes, Oviedo</li>
            </ul>
        </div>
        <div class="contenedor pequeño 22">
            <h1>Redes y Contactos</h1>
            <ul>
                <li>TEL: 633765201</li>
                <li>Instagram: hermenejildoestroncio</li>
                <li>Twitter: @iuygviuv</li>
            </ul>
        </div>
    </div>
</div>
