.contenedor{
    width: 100vw;
    height: 93.3vh;
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.resultado{
    height: 100px;
    font-size: 40px;
    flex-direction: row;
}
.rejugar:hover{
    cursor: pointer;
}