body{
    background-color: dimgray;
}
.pagina{
    width: 100vw;
    height: 93.3vh;
    background-color: dimgray;
    color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: aparicion .5s;
}
mat-toolbar{
    height: .7vh;
}
.contenedor{
    height: 50px;
    width: 100px;
    border-radius: 15px;
    background-color: darkgreen;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.jugar{
    width: 70%;
    height: fit-content;
    background-color: dimgray;
}
img{
    width: 300px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
}
.juegos{
    flex-direction: row;
    
}
.boton{
   width: fit-content;
   height: fit-content;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
@keyframes seleccion{
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1.3);
    }
}
@keyframes aparicion {
    from{
        margin-left: 100%;;
    }
}
@media only screen and (max-width:600px) {
    img{
        width: 200px;
        height: 100px;
    }
}
@media only screen and (max-width:480px) {
    img{
        width: 150px;
        height: 75px;
    }
}