body{
    background-color: dimgray;
}
.pagina{
    width: 100vw;
    height: 93.3vh;
    background-color: dimgray;
    color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: aparicion .5s;
}
.contenedor{
    height: 50px;
    width: 100px;
    border-radius: 15px;
    background-color: purple;
    justify-content: center;
    display: flex;
    align-items: center;
    
}
.contenedor:hover{
    animation: seleccion .5s forwards;
}
.salir{
    height: 50px;
    width: 100px;
    border-radius: 15px;
}
@keyframes seleccion{
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1.3);
    }
}
@keyframes aparicion {
    from{
        margin-left: 100%;;
    }
}