<div class="contenedor general">
<div class="contenedor">
    <div class="contenedor linea 1">
        <div class="objeto columna 1" (click)="seleccion(0)">
           <img src="{{posiciones[0]}}"> 
        </div>
        <div class="objeto columna 2">
            <img src="{{posiciones[1]}}" (click)="seleccion(1)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[2]}}" (click)="seleccion(2)">
        </div>
    </div>
    <div class="contenedor linea 2">
        <div class="objeto columna 1">
            <img src="{{posiciones[3]}}" (click)="seleccion(3)">
        </div>
        <div class="objeto columna 2">
            <img src="{{posiciones[4]}}" (click)="seleccion(4)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[5]}}" (click)="seleccion(5)">
        </div>
    </div>
    <div class="contenedor linea 3">
        <div class="objeto columna 1">
            <img src="{{posiciones[6]}}" (click)="seleccion(6)">
        </div>
        <div class="objeto columna 2">
            <img src="{{posiciones[7]}}" (click)="seleccion(7)">
        </div>
        <div class="objeto columna ">
            <img src="{{posiciones[8]}}" (click)="seleccion(8)">
        </div>
    </div>
</div>
<div class="contenedor dos">
    <div class="contenedor rejugar" (click)="limpiar()">
        {{rejugar}}
    </div>
</div>
</div>