<div class="contenedor">
    <div class="contenedor linea 1">
        <div class="objeto columna 1">
           <img src="/assets/o.png"> 
        </div>
        <div class="objeto columna 2">
            <img src="/assets/o.png">
        </div>
        <div class="objeto columna 3">
            <img src="/assets/o.png">
        </div>
    </div>
    <div class="contenedor linea 2">
        <div class="objeto columna 1">
            <img src="/assets/o.png">
        </div>
        <div class="objeto columna 2">
            <img src="/assets/o.png">
        </div>
        <div class="objeto columna 3">
            <img src="/assets/o.png">
        </div>
    </div>
    <div class="contenedor linea 3">
        <div class="objeto columna 1">
            <img src="/assets/o.png">
        </div>
        <div class="objeto columna 2">
            <img src="/assets/o.png">
        </div>
        <div class="objeto columna ">
            <img src="/assets/o.png">
        </div>
    </div>
</div>