.contenedor{
    width: 500px;
    height: 400px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.general{
    background-color: dimgray;
    justify-content: space-between;
}
.dos{
    background-color: dimgray;
    height: fit-content;
    width: fit-content;
}
.rejugar{
    width: fit-content;
    height: 50px;
    background-color: dimgrey;
    flex-direction: row;
    border-radius: 15px;
    font-size: 40px;
}
.rejugar:hover{
    cursor: pointer;
}
.linea{
    width: 100%;
    height: 100px;
    flex-direction: row;
}
.columna{
    width: 100px;
    height: 100px;
}
img{
    height: 100px;
    width: 100px;
}
.objeto:hover{
    cursor: pointer;
    animation: seleccion .5s forwards;
}
@keyframes seleccion{
    50%{
        transform: scale(2.5);
    }
    100%{
        transform: scale(1.5);
    }
}
