<div class="contenedor general">
    <div class="contenedor linea 1">
        <div class="objeto columna 1" >
           <img src="{{posiciones[0]}}" (click)="seleccion(0)"> 
        </div>
        <div class="objeto columna 2">
            <img src="{{posiciones[1]}}" (click)="seleccion(1)"> 
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[2]}}"  (click)="seleccion(2)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[3]}}"  (click)="seleccion(3)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[4]}}"  (click)="seleccion(4)">
        </div>
    </div>
    <div class="contenedor linea 2">
        <div class="objeto columna 1">
            <img src="{{posiciones[5]}}"  (click)="seleccion(5)">
        </div>
        <div class="objeto columna 2">
            <img src="{{posiciones[6]}}"  (click)="seleccion(6)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[7]}}"  (click)="seleccion(7)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[8]}}"  (click)="seleccion(8)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[9]}}"  (click)="seleccion(9)">
        </div>
    </div>
    <div class="contenedor linea 3">
        <div class="objeto columna 1">
            <img src="{{posiciones[10]}}"  (click)="seleccion(10)">
        </div>
        <div class="objeto columna 2">
            <img src="{{posiciones[11]}}"  (click)="seleccion(11)">
        </div>
        <div class="objeto columna ">
            <img src="{{posiciones[12]}}"  (click)="seleccion(12)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[13]}}"  (click)="seleccion(13)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[14]}}"  (click)="seleccion(14)">
        </div>
    </div>
    <div class="contenedor linea 3">
        <div class="objeto columna 1">
            <img src="{{posiciones[15]}}"  (click)="seleccion(15)">
        </div>
        <div class="objeto columna 2">
            <img src="{{posiciones[16]}}"  (click)="seleccion(16)">
        </div>
        <div class="objeto columna ">
            <img src="{{posiciones[17]}}"  (click)="seleccion(17)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[18]}}"  (click)="seleccion(18)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[19]}}"  (click)="seleccion(19)">
        </div>
    </div>
    <div class="contenedor linea 3">
        <div class="objeto columna 1">
            <img src="{{posiciones[20]}}"  (click)="seleccion(20)">
        </div>
        <div class="objeto columna 2">
            <img src="{{posiciones[21]}}"  (click)="seleccion(21)">
        </div>
        <div class="objeto columna ">
            <img src="{{posiciones[22]}}"  (click)="seleccion(22)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[23]}}"  (click)="seleccion(23)">
        </div>
        <div class="objeto columna 3">
            <img src="{{posiciones[24]}}"  (click)="seleccion(24)">
        </div>
    </div>
</div>
