.contenedor_general{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
}
.vidas{
    width: 50px;
    height: 50px;
    
}
.contenedorVidas{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: aparicion 1s;
}
.consola{
    width: 400px;
    height: 200px;
    background-color: grey;
    padding: 10px;
    color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    animation: aparicion 1s;

}
.resultados{
    width: 100%;
    height: 80%;
    padding: 10px;
    color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: space-between
    
}
.resultado{
    height: 90%;
    width: 40%;
    margin: 10px;
    animation: saludo 3s;
}
.resultado:hover{
    animation: seleccion 1s forwards;
}
img{
    height: 100%;
    width: 100%;
}
.selecciones{
    width: 300px;
    height: 200px;
    background-color: dimgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    animation: aparicion 1s;

}
.eleccion{
    background-size: contain;
    float: left;
    width: 80px;
    height: 80px;
    margin: 10px;
    animation: parpadeo 1s infinite;
}
.eleccion:hover{
    animation: cambioColor 0.5s ;
    cursor: pointer;
}
@keyframes saludo{
    25%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(-15deg);
    }
    75%{
        transform: rotate(15deg);
    }
    
}
@keyframes aparicion{
    0%{
        transform: scale(0);
    }
}
@keyframes cambioColor{
    100%{
        transform: rotate(360deg);
    }
    
}
@keyframes parpadeo{
    40%{
        transform: scale(1.05);
    }
}
@keyframes seleccion{
    50%{
        transform: scale(2.5);
    }
    100%{
        transform: scale(2);
    }
}
.tijeras{
    background-image: url("/assets/scissors_3375800.png");
    background-size: cover;
}
.piedra{
    background-image: url("/assets/stone_839307.png");
    background-size: cover;
}
.papel{
    background-image: url("/assets/papers_8213001.png");
    background-size: cover;
}
@media only screen and (max-width:500px) {
    .consola{
        width: 300px;
        height: 200px;
    }
}
@media only screen and (max-width:400px) {
    .consola{
        width: 200px;
        height: 200px;
    }
}