<div class="contenedor_general">
    <mat-toolbar color="primary">Piedra, papel o tijeras</mat-toolbar>
    <div>{{textoF}}</div>
    <div class="consola">
        <div class="resultados">
            <div class="resultado jugador">
                <img src={{textoJ}} alt="10">
            </div>
            <div class="resultado maquina">
                <img src={{textoM}} alt="10">
            </div>
        </div>       
        <div class="textoF">{{texto}}</div>
    </div>
    <div class="contenedorVidas">
        <div class="vidas" *ngFor="let vida of  vidas">
            <img src={{vida.imagen}} alt="10">
        </div>
    </div>
    <div class="selecciones">
        <div (click)="elegir(2)" class="eleccion tijeras"></div>
        <div (click)="elegir(0)" class="eleccion piedra"></div>
        <div (click)="elegir(1)" class="eleccion papel"></div>

    </div>
</div>
